div.center {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    /* border: 2px dashed #404; */
}

/* https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js */
.rsvg-container {
    display: inline-block;
    position: relative;
    width: 99.2%;
    padding-bottom: 74.4%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    margin: 0.4%;
    border: 1px;
    background: #ffe;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rsvg-content {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    background: '#fdd';
}


